<div class="mb-3">
    <label class="form-label">Amount</label>
    <CurrencyInput @ref="currencyInput" TValue="int?" @bind-Value="@amount" ShowCurrencySymbol="true" Disabled="true" Placeholder="Enter amount" />
</div>

<Button Color="ButtonColor.Primary" @onclick="enableNumberInput"> Enable </Button>
<Button Color="ButtonColor.Secondary" @onclick="disableNumberInput"> Disable </Button>

@code {
    private CurrencyInput<int?> currencyInput;
    private int? amount;

    private void enableNumberInput() => currencyInput.Enable();

    private void disableNumberInput() => currencyInput.Disable();
}
