<Card Style="width:18rem;">
    <CardHeader>
        Featured
    </CardHeader>
    <CardBody>
        <CardTitle>Card title</CardTitle>
        <CardSubTitle Class="mb-2 text-muted">Card subtitle</CardSubTitle>
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <CardLink To="#">Card link</CardLink>
        <CardLink To="#">Another link</CardLink>
    </CardBody>
</Card>
