<Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="(async() => await ShowContentAsync())">Show content</Button>
<Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="(async() => await HideContentAsync())">Hide content</Button>
<Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="(async() => await ToggleContentAsync())">Toggle content</Button>

<Collapse @ref="collapse1" Horizontal="true">
    <Card Style="width:300px;">
        <CardBody>
            This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
        </CardBody>
    </Card>
</Collapse>

@code {
    Collapse collapse1 = default!;

    private ValueTask ShowContentAsync() => collapse1.ShowAsync();
    private ValueTask HideContentAsync() => collapse1.HideAsync();
    private ValueTask ToggleContentAsync() => collapse1.ToggleAsync();
}