<Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="(async() => await ShowContentAsync())">Show content</Button>
<Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="(async() => await HideContentAsync())">Hide content</Button>
<Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="(async() => await ToggleContentAsync())">Toggle content</Button>

<Collapse @ref="collapse1">
    <Card>
        <CardBody>
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </CardBody>
    </Card>
</Collapse>

@code {
    Collapse collapse1 = default!;

    private ValueTask ShowContentAsync() => collapse1.ShowAsync();
    private ValueTask HideContentAsync() => collapse1.HideAsync();
    private ValueTask ToggleContentAsync() => collapse1.ToggleAsync();
}