<Button Color="ButtonColor.Primary" Size="Size.ExtraLarge"> Extra large button </Button>
<Button Color="ButtonColor.Secondary" Size="Size.Large"> Large button </Button>
<Button Color="ButtonColor.Success" Size="Size.Medium"> Medium button </Button>
<Button Color="ButtonColor.Danger" Size="Size.Small"> Small button </Button>
<Button Color="ButtonColor.Warning" Size="Size.ExtraSmall"> Extra small button </Button>