<Button @ref="saveButton" Color="ButtonColor.Primary" @onclick="async () => await OnSaveClick()">Save</Button>

@code {
    private Button saveButton;

    private async Task OnSaveClick()
    {
        saveButton?.ShowLoading("Saving details...");

        await Task.Delay(5000); // API call

        saveButton?.HideLoading();
    }
}