<div class="mb-3">
    <TimeInput @ref="timeInput" TValue="TimeOnly" @bind-Value="@time1" Disabled="true" />
</div>
<div class="mb-3">Entered time: @time1</div>

<Button Color="ButtonColor.Primary" @onclick="enableTimeInput"> Enable </Button>
<Button Color="ButtonColor.Secondary" @onclick="disableTimeInput"> Disable </Button>

@code {
    private TimeInput<TimeOnly> timeInput = default!;

    private TimeOnly time1 = new TimeOnly(10, 50); // 10:50 AM

    private void enableTimeInput() => timeInput.Enable();

    private void disableTimeInput() => timeInput.Disable();
}
