@using BlazorBootstrap
@page "/"
@layout EmptyLayout

<PageTitle>Blazor Components Examples & Demos | Blazor.Bootstrap</PageTitle>

<div class="bd-masthead mb-3" id="content">
    <div class="container-xxl bd-gutter">
        <div class="col-md-8 mx-auto text-center">
            <a class="d-flex flex-column flex-lg-row justify-content-center align-items-center mb-4 text-dark lh-sm text-decoration-none" href="/">
                <strong class="d-sm-inline-block p-2 me-2 mb-2 mb-lg-0 rounded-3 masthead-notice">New in @version</strong>
                <span class="text-muted">@releaseShortDescription</span>
            </a>
            <img src="images/logo/logo-color.svg" width="200" height="165" alt="Bootstrap" class="d-block mx-auto mb-3">
            <h1 class="mb-3 fw-semibold">Blazor Components Examples and Demos</h1>
            <p class="lead mb-4">
                High-performance, lightweight, and responsive blazor components in a single package from the developers for the developers.
            </p>
            <p class="text-muted mb-0">
                Currently <strong>@version</strong>
                <span class="px-1"></span>
                <a href="https://www.nuget.org/packages/Blazor.Bootstrap/"><img alt="Nuget" src="https://img.shields.io/nuget/v/Blazor.Bootstrap"></a>
                <span class="px-1"></span>
                <a href="https://www.nuget.org/packages/Blazor.Bootstrap/"><img alt="Nuget" src="https://img.shields.io/nuget/dt/Blazor.Bootstrap"></a>
            </p>
        </div>
    </div>
</div>

<div class="container bd-gutter masthead-followup">
    <div class="col-lg-7 mb-4 mx-auto text-md-center">
        <h2 class="mb-3 fw-semibold lh-sm">Blazor UI & Data Visualization Components</h2>
    </div>

    <div class="row g-3 mt-5">
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/alerts">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-check-circle-fill me-2"></i> Alerts</h4>
            </a>
        </div>
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/autocomplete">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-input-cursor-text me-2"></i> Auto Complete</h4>
            </a>
        </div>
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/breadcrumb">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-segmented-nav me-2"></i> Breadcrumb</h4>
            </a>
        </div>
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/buttons">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-toggle-on me-2"></i> Buttons</h4>
            </a>
        </div>
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/callout">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-sticky-fill me-2"></i> Callout</h4>
            </a>
        </div>
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/charts">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-bar-chart-line-fill me-2"></i> Charts</h4>
            </a>
        </div>
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/confirm-dialog">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-question-diamond-fill me-2"></i> Confirm Dialog</h4>
            </a>
        </div>
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/grid">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-grid-3x2 me-2"></i> Grid</h4>
            </a>
        </div>
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/icons">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-person-square me-2"></i> Icons</h4>
            </a>
        </div>
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/modals">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-window-stack me-2"></i> Modals</h4>
            </a>
        </div>
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/offcanvas">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-layout-sidebar-reverse me-2"></i> Offcanvas</h4>
            </a>
        </div>
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/pagination">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-three-dots me-2"></i> Pagination</h4>
            </a>
        </div>
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/placeholders">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-columns-gap me-2"></i> Placeholders</h4>
            </a>
        </div>
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/preload">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-arrow-clockwise me-2"></i> Preload</h4>
            </a>
        </div>
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/progress">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-usb-c me-2"></i> Progress</h4>
            </a>
        </div>
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/tabs">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-window-plus me-2"></i> Tabs</h4>
            </a>
        </div>
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/toasts">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-exclamation-triangle-fill me-2"></i> Toasts</h4>
            </a>
        </div>
        <div class="col-sm-3 mb-2">
            <a class="d-block pe-lg-4 text-decoration-none lh-sm" href="/tooltips">
                <h4 class="mb-0 fs-5 fw-semibold"><i class="bi bi-chat-square-dots-fill me-2"></i> Tooltips</h4>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <Callout Class="mt-5" Type="CalloutType.Default">
        This whole demo website is built using the <strong>Blazor.Bootstrap</strong> library and published on the Azure Static Web App.
        See <a href="https://github.com/vikramlearning/blazorbootstrap"> source code on GitHub</a>.
    </Callout>
</div>

@code {
    private string version;
    private string releaseShortDescription;

    [Inject] public IConfiguration Configuration { get; set; }

    protected override void OnInitialized()
    {
        version = $"v{Configuration.GetValue<string>("version")}"; // example: v0.6.1
        releaseShortDescription = $"{Configuration.GetValue<string>("release:short_description")}";

        base.OnInitialized();
    }
}