@using BlazorBootstrap
@page "/"

<PageTitle>Home - BlazorBootstrap</PageTitle>

<h4 class="my-4">Welcome to BlazorBootstrap - Demos!!!</h4>
<p class="mt-4">
    BlazorBootstrap is a component library built on top of Blazor and Bootstrap5 CSS framework. Build fast, responsive sites with BlazorBootstrap.
</p>

<Callout Color="CalloutColor.Info">
    <p>This is a demo application used to show examples for all the components.</p>
    <p>Please go to our official documentation for more information on BlazorBootstrap components and initial setup. Check Github for the source code.</p>
    <p>Source Code: <a href="https://github.com/vikramlearning/blazorbootstrap" target="_blank">Github</a></p>
    <p>Documentation: <a href="https://getblazorbootstrap.com/" target="_blank">getblazorbootstrap.com</a></p>
</Callout>