@using BlazorBootstrap
@page "/"
@layout EmptyLayout

<PageTitle>Blazor Components Examples & Demos | Blazor.Bootstrap</PageTitle>

<div class="bd-masthead mb-3" id="content">
    <div class="container-xxl bd-gutter">
        <div class="col-md-8 mx-auto text-center">
            <a class="d-flex flex-column flex-lg-row justify-content-center align-items-center mb-4 text-dark lh-sm text-decoration-none" href="https://blog.getbootstrap.com/2022/07/19/bootstrap-5-2-0/">
                <strong class="d-sm-inline-block p-2 me-2 mb-2 mb-lg-0 rounded-3 masthead-notice">New in v0.6.1</strong>
                <span class="text-muted">Tabs enhancements and more examples!</span>
            </a>
            <img src="images/logo/logo-color.svg" width="200" height="165" alt="Bootstrap" class="d-block mx-auto mb-3">
            <h1 class="mb-3 fw-semibold">Blazor Components Examples and Demos</h1>
            <p class="lead mb-4">
                Powerful, extensible, and feature-packed blazor components.
            </p>
            @*<div class="d-flex flex-column flex-lg-row align-items-md-stretch justify-content-md-center gap-3 mb-4">
            <div class="d-inline-block v-align-middle fs-5">
            <div class="bd-code-snippet">
            <div class="bd-clipboard">
            <button type="button" class="btn-clipboard"><i class="bi bi-clipboard"></i></button>
            </div><div class="highlight"><pre tabindex="0" class="chroma"><code class="language-sh" data-lang="sh"><span class="line"><span class="cl">npm i bootstrap@5.2.2</span></span></code></pre></div>
            </div>
            </div>
            <a href="/docs/5.2/getting-started/introduction/" class="btn btn-lg bd-btn-lg btn-bd-primary d-flex align-items-center justify-content-center fw-semibold" onclick="ga('send', 'event', 'Jumbotron actions', 'Get started', 'Get started');">
            <svg class="bi me-2" aria-hidden="true"><use xlink:href="#book-half"></use></svg>
            Read the docs
            </a>
            </div>*@
            <p class="text-muted mb-0">
                Currently <strong>v0.6.1</strong>
                <span class="px-1"></span>
                <a href="https://www.nuget.org/packages/Blazor.Bootstrap/"><img alt="Nuget" src="https://img.shields.io/nuget/v/Blazor.Bootstrap"></a>
                <span class="px-1"></span>
                <a href="https://www.nuget.org/packages/Blazor.Bootstrap/"><img alt="Nuget" src="https://img.shields.io/nuget/dt/Blazor.Bootstrap"></a>
            </p>

        </div>
    </div>
</div>

<div class="container-xxl bd-gutter masthead-followup">

    <div class="col-lg-7 mx-auto pb-3 mb-3 mb-md-5 text-md-center">
        <div class="masthead-followup-icon d-inline-block mb-3 me-2" style="--bg-rgb: var(--bs-danger-rgb);">
            <i class="bi bi-menu-button-wide-fill fs-1"></i>
        </div>
        <h2 class="display-5 mb-3 fw-semibold lh-sm">Blazor UI & Data Visualization Components</h2>
        <p class="lead fw-normal text-muted">
            The Blazor.Bootstrap components library is the only suite that you will ever need to build an application. It contains high-performance, light-weight, and responsive UI controls in a single package.
        </p>
    </div>

    <div class="row" data-masonry='{"percentPosition": true }'>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">Grids</h5>
                    <p class="card-text"><a href="/">Grid</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">Data Visualization</h5>
                    <p class="card-text"><a href="/">Bar Chart</a></p>
                    <p class="card-text"><a href="/">Doughnut Chart</a></p>
                    <p class="card-text"><a href="/">Line Chart</a></p>
                    <p class="card-text"><a href="/">Pie Chart</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">Content</h5>
                    <p class="card-text"><a href="/">Icons</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">Components</h5>
                    <p class="card-text"><a href="/">Alerts</a></p>
                    <p class="card-text"><a href="/">Auto Complete</a></p>
                    <p class="card-text"><a href="/">Breadcrumb</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">Layout</h5>
                    <p class="card-text"><a href="/">Confirm Dialog</a></p>
                    <p class="card-text"><a href="/">Modal</a></p>
                    <p class="card-text"><a href="/">Offcanvas</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">Notifications</h5>
                    <p class="card-text"><a href="/">Placeholders</a></p>
                    <p class="card-text"><a href="/">Progress</a></p>
                    <p class="card-text"><a href="/">Toasts</a></p>
                </div>
            </div>
        </div>
    </div>

    <Callout Type="CalloutType.Info">
        This whole demo website is built using the <strong>Blazor.Bootstrap</strong> library and published on the Azure Static Web App.
        See <a href="https://github.com/vikramlearning/blazorbootstrap"> source code on GitHub</a>.
    </Callout>

</div>