@using BlazorBootstrap
@page "/"

<PageTitle>Home - Blazor.Bootstrap</PageTitle>

<h1>Blazor.Bootstrap Library</h1>
<div class="mb-3 text-secondary display-9">
    Free Bootstrap 5 components for Blazor applications.
</div>

<p>
    <a href="https://www.nuget.org/packages/Blazor.Bootstrap/"><img alt="Nuget" src="https://img.shields.io/nuget/v/Blazor.Bootstrap"></a>
    <a href="https://www.nuget.org/packages/Blazor.Bootstrap/"><img alt="Nuget" src="https://img.shields.io/nuget/dt/Blazor.Bootstrap"></a>
</p>

<Alert Color="AlertColor.Info">
    <div class="row">
        <div class="col-auto align-top"><Icon Name="IconName.InfoCircleFill"></Icon></div>
        <div class="col">
            This whole demo website is built using the <strong>Blazor.Bootstrap</strong> library and published on the Azure Static Web App.
            See <a href="https://github.com/vikramlearning/blazorbootstrap"> source code on GitHub</a>.
        </div>
    </div>
</Alert>