@using BlazorBootstrap
@page "/"

<PageTitle>Home - BlazorBootstrap</PageTitle>

<h1>Blazor Bootstrap Library</h1>
<div class="mb-3">
    Blazor.Bootstrap is a component library built on top of Blazor and Bootstrap 5 CSS framework. Build fast, responsive sites with BlazorBootstrap.
</div>

<Alert Color="AlertColor.Info">
    <div class="row">
        <div class="col-auto align-top"><Icon Name="IconName.InfoCircleFill"></Icon></div>
        <div class="col">
            This whole demo website is built using the <strong>Blazor.Bootstrap</strong> library and published on the Azure Static Web App.
            See <a href="https://github.com/vikramlearning/blazorbootstrap"> source code on GitHub</a>.
        </div>
    </div>
</Alert>