@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<a id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    @if (Enum.IsDefined(typeof(IconName), LinkIcon) && LinkIcon != IconName.None)
    {
        <span aria-hidden="true">
            <Icon Name="LinkIcon"/>
        </span>
    }
    else
    {
        @Text
    }
</a>
