@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<a id="@Id" class="@BootstrapClass.PaginationLink @Class" @attributes="@AdditionalAttributes">
    @if (Enum.IsDefined(typeof(IconName), LinkIcon) && LinkIcon != IconName.None)
    {
        <span aria-hidden="true">
            <Icon Name="LinkIcon" />
        </span>
    }
    else
    {
        @Text
    }
</a>
