<div class="mb-3">
    <Switch @ref="_switch" @bind-Value="agree" Disabled="true" Label="Disabled switch checkbox input" />
</div>

<Button Color="ButtonColor.Primary" Size="Size.Small" @onclick="enableSwitch"> Enable </Button>
<Button Color="ButtonColor.Secondary" Size="Size.Small" @onclick="disableSwitch"> Disable </Button>

@code {
    private Switch _switch;
    private bool agree = true;

    private void enableSwitch() => _switch.Enable();

    private void disableSwitch() => _switch.Disable();
}