<Button Color="ButtonColor.Secondary" TooltipTitle="Compare code">
    <Icon CustomIconName="fa-solid fa-code-compare"/>
</Button>
<Button Color="ButtonColor.Secondary" TooltipTitle="Create pull request">
    <Icon CustomIconName="fa-solid fa-code-pull-request" />
</Button>
