<ul class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list">
    @foreach (var item in Enum.GetValues<IconName>().Where(x => x != IconName.None))
    {
        <li class="col mb-4">
            <div class="d-block text-dark text-decoration-none">
                <div class="p-3 py-4 mb-2 bg-light text-center rounded">
                    <Icon Name="@item" Size="IconSize.x3" />
                </div>
                <div class="name text-muted text-decoration-none text-center pt-1">@item.ToString()</div>
            </div>
        </li>
    }
</ul>