<Tabs>
    @foreach (var customer in customers)
    {
        <Tab Title="@customer.CustomerName"
             IsActive="selectedCustomer.CustomerId == customer.CustomerId"
             OnClick="(args) => OnTabClick(args, customer)">
            <Content>
                <div class="mt-3">
                    This is the placeholder content for the <b>@customer.CustomerName</b> tab.
                </div>
            </Content>
        </Tab>
    }
</Tabs>

@if (selectedCustomer is not null)
{
    <div class="mt-3">Selected customer: <b>@selectedCustomer.CustomerName</b></div>
}

@code {
    private List<Customer> customers = new() { new(1, "Marvin Klein"), new(2, "Vikram Reddy"), new(3, "Bandita PA"), new(4, "Daina JJ") };

    private Customer selectedCustomer = default!;

    protected override void OnInitialized() => selectedCustomer = customers.First();

    private void OnTabClick(TabEventArgs args, Customer customer) => selectedCustomer = customer;
}
