<Carousel ShowIndicators="true">
    <CarouselItem Active="true">
        <Image Src="_content/BlazorBootstrap.Demo.RCL/images/slide-04.png" />
        <CarouselCaption>
            <h2>Earth Day</h2>
            <p>Let's unite to protect our planet and create a sustainable future for generations to come.</p>
        </CarouselCaption>
    </CarouselItem>
    <CarouselItem>
        <Image Src="_content/BlazorBootstrap.Demo.RCL/images/slide-05.png" />
        <CarouselCaption>
            <h2>International Yoga Day</h2>
            <p>Embrace the ancient art of harmony for a healthier, happier you.</p>
        </CarouselCaption>
    </CarouselItem>
    <CarouselItem>
        <Image Src="_content/BlazorBootstrap.Demo.RCL/images/slide-06.png" />
        <CarouselCaption>
            <h2>World Water Day</h2>
            <p>Every drop counts, let's protect our planet's most precious resource.</p>
        </CarouselCaption>
    </CarouselItem>
</Carousel>