<div class="mb-3">
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary">
        Announcement <Badge Color="BadgeColor.Danger">2</Badge>
    </Button>
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary">
        Notifications <Badge> 4</Badge>
    </Button>
</div>
<div class="mb-3">
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary">
        Announcement <Badge Color="BadgeColor.Danger"><Icon Name="IconName.MegaphoneFill" /> 2</Badge>
    </Button>
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary">
        Notifications <Badge><Icon Name="IconName.BellFill" /> 4</Badge>
    </Button>
</div>
