<Button Type="ButtonType.Button" Color="ButtonColor.Primary" Position="Position.Relative">
    Inbox
    <Badge Color="BadgeColor.Danger"
           Position="Position.Absolute"
           Placement="BadgePlacement.TopRight"
           IndicatorType="BadgeIndicatorType.RoundedPill"
           VisuallyHiddenText="unread messages"></Badge>
</Button>