<div class="mb-3">
    <Badge Color="BadgeColor.Primary" VisuallyHiddenText="Visually hidden text for Primary">Primary</Badge>
    <Badge Color="BadgeColor.Secondary" VisuallyHiddenText="Visually hidden text for Secondary">Secondary</Badge>
    <Badge Color="BadgeColor.Success" VisuallyHiddenText="Visually hidden text for Success">Success</Badge>
    <Badge Color="BadgeColor.Danger" VisuallyHiddenText="Visually hidden text for Danger">Danger</Badge>
    <Badge Color="BadgeColor.Warning" VisuallyHiddenText="Visually hidden text for Warning">Warning</Badge>
    <Badge Color="BadgeColor.Info" VisuallyHiddenText="Visually hidden text for Info">Info</Badge>
    <Badge Color="BadgeColor.Light" VisuallyHiddenText="Visually hidden text for Light">Light</Badge>
    <Badge Color="BadgeColor.Dark" VisuallyHiddenText="Visually hidden text for Dark">Dark</Badge>
</div>

<div>
    <Badge Color="BadgeColor.Primary" Class="p-2" VisuallyHiddenText="Visually hidden text for Primary">Primary</Badge>
    <Badge Color="BadgeColor.Secondary" Class="p-2" VisuallyHiddenText="Visually hidden text for Secondary">Secondary</Badge>
    <Badge Color="BadgeColor.Success" Class="p-2" VisuallyHiddenText="Visually hidden text for Success">Success</Badge>
    <Badge Color="BadgeColor.Danger" Class="p-2" VisuallyHiddenText="Visually hidden text for Danger">Danger</Badge>
    <Badge Color="BadgeColor.Warning" Class="p-2" VisuallyHiddenText="Visually hidden text for Warning">Warning</Badge>
    <Badge Color="BadgeColor.Info" Class="p-2" VisuallyHiddenText="Visually hidden text for Info">Info</Badge>
    <Badge Color="BadgeColor.Light" Class="p-2" VisuallyHiddenText="Visually hidden text for Light">Light</Badge>
    <Badge Color="BadgeColor.Dark" Class="p-2" VisuallyHiddenText="Visually hidden text for Dark">Dark</Badge>
</div>
