<div class="mb-3">
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Position="Position.Relative">
        Inbox
        <Badge Color="BadgeColor.Danger"
               Position="Position.Absolute"
               Placement="BadgePlacement.TopLeft"
               IndicatorType="BadgeIndicatorType.RoundedPill"
               VisuallyHiddenText="unread messages">99+</Badge>
    </Button>

    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Position="Position.Relative">
        Inbox
        <Badge Color="BadgeColor.Danger"
               Position="Position.Absolute"
               Placement="BadgePlacement.TopCenter"
               IndicatorType="BadgeIndicatorType.RoundedPill"
               VisuallyHiddenText="unread messages">99+</Badge>
    </Button>

    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Position="Position.Relative">
        Inbox
        <Badge Color="BadgeColor.Danger"
               Position="Position.Absolute"
               Placement="BadgePlacement.TopRight"
               IndicatorType="BadgeIndicatorType.RoundedPill"
               VisuallyHiddenText="unread messages">99+</Badge>
    </Button>
</div>
<div class="mb-3">
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Position="Position.Relative">
        Inbox
        <Badge Color="BadgeColor.Danger"
               Position="Position.Absolute"
               Placement="BadgePlacement.MiddleLeft"
               IndicatorType="BadgeIndicatorType.RoundedPill"
               VisuallyHiddenText="unread messages">99+</Badge>
    </Button>

    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Position="Position.Relative">
        Inbox
        <Badge Color="BadgeColor.Danger"
               Position="Position.Absolute"
               Placement="BadgePlacement.MiddleCenter"
               IndicatorType="BadgeIndicatorType.RoundedPill"
               VisuallyHiddenText="unread messages">99+</Badge>
    </Button>

    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Position="Position.Relative">
        Inbox
        <Badge Color="BadgeColor.Danger"
               Position="Position.Absolute"
               Placement="BadgePlacement.MiddleRight"
               IndicatorType="BadgeIndicatorType.RoundedPill"
               VisuallyHiddenText="unread messages">99+</Badge>
    </Button>
</div>
<div class="mb-3">
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Position="Position.Relative">
        Inbox
        <Badge Color="BadgeColor.Danger"
               Position="Position.Absolute"
               Placement="BadgePlacement.BottomLeft"
               IndicatorType="BadgeIndicatorType.RoundedPill"
               VisuallyHiddenText="unread messages">99+</Badge>
    </Button>

    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Position="Position.Relative">
        Inbox
        <Badge Color="BadgeColor.Danger"
               Position="Position.Absolute"
               Placement="BadgePlacement.BottomCenter"
               IndicatorType="BadgeIndicatorType.RoundedPill"
               VisuallyHiddenText="unread messages">99+</Badge>
    </Button>

    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Position="Position.Relative">
        Inbox
        <Badge Color="BadgeColor.Danger"
               Position="Position.Absolute"
               Placement="BadgePlacement.BottomRight"
               IndicatorType="BadgeIndicatorType.RoundedPill"
               VisuallyHiddenText="unread messages">99+</Badge>
    </Button>
</div>
