<div class="mb-3">
    <Badge Color="BadgeColor.Primary" IndicatorType="BadgeIndicatorType.RoundedPill">Primary</Badge>
    <Badge Color="BadgeColor.Secondary" IndicatorType="BadgeIndicatorType.RoundedPill">Secondary</Badge>
    <Badge Color="BadgeColor.Success" IndicatorType="BadgeIndicatorType.RoundedPill">Success</Badge>
    <Badge Color="BadgeColor.Danger" IndicatorType="BadgeIndicatorType.RoundedPill">Danger</Badge>
    <Badge Color="BadgeColor.Warning" IndicatorType="BadgeIndicatorType.RoundedPill">Warning</Badge>
    <Badge Color="BadgeColor.Info" IndicatorType="BadgeIndicatorType.RoundedPill">Info</Badge>
    <Badge Color="BadgeColor.Light" IndicatorType="BadgeIndicatorType.RoundedPill">Light</Badge>
    <Badge Color="BadgeColor.Dark" IndicatorType="BadgeIndicatorType.RoundedPill">Dark</Badge>
</div>

<div>
    <Badge Color="BadgeColor.Primary" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill">Primary</Badge>
    <Badge Color="BadgeColor.Secondary" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill">Secondary</Badge>
    <Badge Color="BadgeColor.Success" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill">Success</Badge>
    <Badge Color="BadgeColor.Danger" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill">Danger</Badge>
    <Badge Color="BadgeColor.Warning" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill">Warning</Badge>
    <Badge Color="BadgeColor.Info" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill">Info</Badge>
    <Badge Color="BadgeColor.Light" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill">Light</Badge>
    <Badge Color="BadgeColor.Dark" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill">Dark</Badge>

</div>