<div class="mb-3">
    <TimeInput @ref="timeInput1" TValue="TimeOnly" @bind-Value="@time1" />
</div>
<div class="mb-3">Entered time: @time1</div>

<Button Color="ButtonColor.Secondary" @onclick="Disable"> Disable </Button>
<Button Color="ButtonColor.Primary" @onclick="Enable"> Enable </Button>

@code {
    private TimeInput<TimeOnly> timeInput1 = default!;

    private TimeOnly time1 = new TimeOnly(10, 50); // 10:50 AM

    private void Disable() => timeInput1.Disable();

    private void Enable() => timeInput1.Enable();
}
