@namespace BlazorBootstrap.Demo.RCL

@inherits LayoutComponentBase

<div class="bb-page">

    <Sidebar @ref="sidebar"
             ImageSrc="https://demos.blazorbootstrap.com/images/logo/logo-white.svg"
             Title="Blazor Bootstrap"
             BadgeText="@version"
             DataProvider="SidebarDataProvider" />

    <main class="bb-scrollbar">
        <div class="py-3 px-4 d-flex justify-content-center bg-danger-subtle">
            <a href="https://docs.blazorbootstrap.com/blog/2024/02/25/upgrade-to-v2.0.0" class="text-danger-emphasis text-decoration-none"><i class="bi bi-exclamation-triangle-fill"></i> We strongly recommend all BlazorBootstrap users migrate to version 2.0.0. Read more...</a>
        </div>
        <div class="content my-4 my-md-4 px-4">
            @Body
        </div>
    </main>
</div>

<Modal IsServiceModal="true" />
<Preload LoadingText="Loading..." />
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
