<Alert Color="@alertColor" Dismissable="false"> <Icon Name="@alertIconName" class="me-2"></Icon>@alertMessage </Alert>

<Button Color="ButtonColor.Success" @onclick="ShowSuccessAlert"> Success Alert </Button>
<Button Color="ButtonColor.Danger" @onclick="ShowDangerAlert"> Danger Alert </Button>
<Button Color="ButtonColor.Info" @onclick="ShowInfoAlert"> Info Alert </Button>

@code {
    // alert
    AlertColor alertColor = AlertColor.Primary;
    IconName alertIconName = IconName.CheckCircleFill;
    string alertMessage = "A simple alert - check it out!";

    private void ShowSuccessAlert()
    {
        alertColor = AlertColor.Success;
        alertIconName = IconName.CheckCircleFill;
        alertMessage = "A simple success alert - check it out!";
    }

    private void ShowDangerAlert()
    {
        alertColor = AlertColor.Danger;
        alertIconName = IconName.ExclamationTriangleFill;
        alertMessage = "A simple danger alert - check it out!";
    }

    private void ShowInfoAlert()
    {
        alertColor = AlertColor.Info;
        alertIconName = IconName.ExclamationCircleFill;
        alertMessage = "A simple info alert - check it out!";
    }
}