<Tooltip Title="@title" Color="@tooltipColor">Tooltip Top</Tooltip>

<br/>
<br />

<Button Color="ButtonColor.Primary" @onclick="UpdateTooltipToPrimary">Change Tooltip Color</Button>
<Button Color="ButtonColor.Success" @onclick="UpdateTooltipToSuccess">Change Tooltip Color</Button>
<Button Color="ButtonColor.Danger" @onclick="UpdateTooltipToDanger">Change Tooltip Color</Button>

@code {
    private string? title = "Tooltip Top";
    private TooltipColor tooltipColor;

    private void UpdateTooltipToPrimary()
    {
        tooltipColor = TooltipColor.Primary;
        title = "Tooltip Top Primary";
    }

    private void UpdateTooltipToSuccess()
    {
        tooltipColor = TooltipColor.Success;
        title = "Tooltip Top Success";
    }

    private void UpdateTooltipToDanger()
    {
        tooltipColor = TooltipColor.Danger;
        title = "Tooltip Top Danger";
    }
}