@inherits LayoutComponentBase

<div class="page">

    <Sidebar @ref="sidebar"
             ImageSrc="https://demos.blazorbootstrap.com/images/logo/logo-color.svg"
             Title="Blazor Bootstrap"
             BadgeText="v1.3.1"
             DataProvider="SidebarDataProvider" />

    <main>
        <div class="content my-4 my-md-4 px-4">
            @Body
        </div>
    </main>
</div>

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
<Preload />

@code{
    Sidebar sidebar;
    IEnumerable<NavItem> navItems;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
        {
            new (){ Id = "1", Text = "Getting Started", Href = "/getting-started", IconName = IconName.HouseDoorFill },

            new (){ Id = "2", Text = "Content", IconName = IconName.BodyText, IconColor = IconColor.Primary },
            new (){ Id = "3", Text = "Icons", Href = "/icons", IconName = IconName.PersonSquare, ParentId = "2" },

            new (){ Id = "4", Text = "Forms", IconName = IconName.InputCursorText, IconColor = IconColor.Success },
            new (){ Id = "5", Text = "Auto Complete", Href = "/autocomplete", IconName = IconName.InputCursorText, ParentId = "4" },
            new (){ Id = "6", Text = "Currency Input", Href = "/form/currency-input", IconName = IconName.CurrencyDollar, ParentId = "4" },
            new (){ Id = "7", Text = "Number Input", Href = "/form/number-input", IconName = IconName.InputCursor, ParentId = "4" },
            new (){ Id = "8", Text = "Switch", Href = "/form/switch", IconName = IconName.ToggleOn, ParentId = "4" },

            new (){ Id = "9", Text = "Components", IconName = IconName.GearFill, IconColor = IconColor.Danger },
            new (){ Id = "10", Text = "Alerts", Href = "/alerts", IconName = IconName.CheckCircleFill, ParentId = "9" },
            new (){ Id = "11", Text = "Breadcrumb", Href = "/breadcrumb", IconName = IconName.SegmentedNav, ParentId = "9" },
            new (){ Id = "12", Text = "Buttons", Href = "/buttons", IconName = IconName.ToggleOn, ParentId = "9" },
            new (){ Id = "13", Text = "Callout", Href = "/callout", IconName = IconName.StickyFill, ParentId = "9" },
            new (){ Id = "14", Text = "Charts", Href = "/charts", IconName = IconName.BarChartLineFill, ParentId = "9" },
            new (){ Id = "15", Text = "Confirm Dialog", Href = "/confirm-dialog", IconName = IconName.QuestionDiamondFill, ParentId = "9" },
            new (){ Id = "16", Text = "Grid", Href = "/grid", IconName = IconName.Grid, ParentId = "9" },
            new (){ Id = "17", Text = "Modals", Href = "/modals", IconName = IconName.WindowStack, ParentId = "9" },
            new (){ Id = "18", Text = "Offcanvas", Href = "/offcanvas", IconName = IconName.LayoutSidebarReverse, ParentId = "9" },
            new (){ Id = "19", Text = "Pagination", Href = "/pagination", IconName = IconName.ThreeDots, ParentId = "9" },
            new (){ Id = "20", Text = "Placeholders", Href = "/placeholders", IconName = IconName.ColumnsGap, ParentId = "9" },
            new (){ Id = "21", Text = "Preload", Href = "/preload", IconName = IconName.ArrowClockwise, ParentId = "9" },
            new (){ Id = "22", Text = "Progress", Href = "/progress", IconName = IconName.UsbC, ParentId = "9" },
            new (){ Id = "23", Text = "Sidebar", Href = "/sidebar", IconName = IconName.LayoutSidebar, ParentId = "9" },
            new (){ Id = "24", Text = "Tabs", Href = "/tabs", IconName = IconName.WindowPlus, ParentId = "9" },
            new (){ Id = "25", Text = "Toasts", Href = "/toasts", IconName = IconName.ExclamationTriangleFill, ParentId = "9" },
            new (){ Id = "26", Text = "Tooltips", Href = "/tooltips", IconName = IconName.ChatSquareDotsFill, ParentId = "9" },

            new (){ Id = "27", Text = "Data Visualization", IconName = IconName.BarChartFill, IconColor = IconColor.Warning },
            new (){ Id = "28", Text = "Bar Chart", Href = "/charts", IconName = IconName.BarChartFill, ParentId = "27" },
            new (){ Id = "29", Text = "Doughnut Chart", Href = "/charts", IconName = IconName.CircleFill, ParentId = "27" },
            new (){ Id = "30", Text = "Line Chart", Href = "/charts", IconName = IconName.GraphUp, ParentId = "27" },
            new (){ Id = "31", Text = "Pie Chart", Href = "/charts", IconName = IconName.PieChartFill, ParentId = "27" },
        };

        return navItems;
    }
}