@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main" style="overflow-x:auto;">
        <div class="content my-md-4 px-4">
            @Body
        </div>
    </div>
</div>
