<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""> &nbsp; Blazor.Bootstrap <span class="ms-2 badge bg-secondary">@version</span></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Name="IconName.HouseDoorFill" class="me-2" /> Getting started
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="alerts">
                <Icon Name="IconName.CheckCircleFill" class="me-2" /> Alerts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="autocomplete">
                <Icon Name="IconName.InputCursorText" class="me-2" /> AutoComplete
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="breadcrumb">
                <Icon Name="IconName.SegmentedNav" class="me-2" /> Breadcrumb
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="buttons">
                <Icon Name="IconName.ToggleOn" class="me-2" /> Buttons
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="callout">
                <Icon Name="IconName.StickyFill" class="me-2" /> Callout
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="charts">
                <Icon Name="IconName.BarChartLineFill" class="me-2" /> Charts <span class="ms-2 badge bg-danger">New</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="confirm-dialog">
                <Icon Name="IconName.QuestionDiamondFill" class="me-2" /> Confirm Dialog
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="grid">
                <Icon Name="IconName.Grid3X2" class="me-2" /> Grid <span class="ms-2 badge bg-success">Update</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="icons">
                <Icon Name="IconName.PersonSquare" class="me-2" /> Icons
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="modals">
                <Icon Name="IconName.WindowStack" class="me-2" /> Modals
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="offcanvas">
                <Icon Name="IconName.LayoutSidebarReverse" class="me-2" /> Offcanvas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pagination">
                <Icon Name="IconName.ThreeDots" class="me-2" /> Pagination
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="placeholders">
                Placeholders
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="preload">
                <Icon Name="IconName.ArrowClockwise" class="me-2" /> Preload
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="progress">
                <Icon Name="IconName.UsbC" class="me-2" /> Progress <span class="ms-2 badge bg-danger">New</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tabs">
                <Icon Name="IconName.WindowPlus" class="me-2" /> Tabs <span class="ms-2 badge bg-success">Update</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="toasts">
                <Icon Name="IconName.ExclamationTriangleFill" class="me-2" /> Toasts <span class="ms-2 badge bg-success">Update</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tooltips">
                <Icon Name="IconName.ChatSquareDotsFill" class="me-2" /> Tooltips
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private string version;
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "";

    [Inject] public IConfiguration Configuration { get; set; }

    protected override void OnInitialized()
    {
        version = $"v{Configuration.GetValue<string>("version")}"; // example: v0.6.1
        base.OnInitialized();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}