<Callout>
    <strong>This is a default callout</strong>. Example text to show it in action. See <a href="https://blazorbootstrap.com/docs/components/callout">callout documentation</a>.
</Callout>

<Callout Color="CalloutColor.Danger">
    <strong>This is an danger callout</strong>. Example text to show it in action. See <a href="https://blazorbootstrap.com/docs/components/callout">callout documentation</a>.
</Callout>

<Callout Color="CalloutColor.Warning">
    <strong>This is an warning callout</strong>. Example text to show it in action. See <a href="https://blazorbootstrap.com/docs/components/callout">callout documentation</a>.
</Callout>

<Callout Color="CalloutColor.Info">
    <strong>This is an info callout</strong>. Example text to show it in action. See <a href="https://blazorbootstrap.com/docs/components/callout">callout documentation</a>.
</Callout>

<Callout Color="CalloutColor.Success">
    <strong>This is an success callout</strong>. Example text to show it in action. See <a href="https://blazorbootstrap.com/docs/components/callout">callout documentation</a>.
</Callout>
