<div class="mb-3">
    <strong>TimeOnly</strong>:
</div>
<div class="mb-3">
    <TimeInput TValue="TimeOnly" @bind-Value="@time1" />
</div>
<div class="mb-3">Entered time: @time1</div>

<div class="mb-3">
    <strong>TimeOnly?</strong>:
</div>
<div class="mb-3">
    <TimeInput TValue="TimeOnly?" @bind-Value="@time2" />
</div>
<div class="mb-3">Entered time: @time2</div>

@code {
    private TimeOnly time1 = new TimeOnly(6, 40);
    private TimeOnly? time2;
}
