@using BlazorBootstrap
@page "/alerts"

<h4>Alerts</h4>
<Alert Color="Enums.Color.Primary"> A simple primary alert—check it out! </Alert>
<Alert Color="Enums.Color.Secondary"> A simple secondary alert—check it out! </Alert>
<Alert Color="Enums.Color.Success"> A simple success alert—check it out! </Alert>
<Alert Color="Enums.Color.Danger"> A simple danger alert—check it out! </Alert>
<Alert Color="Enums.Color.Warning"> A simple warning alert—check it out! </Alert>
<Alert Color="Enums.Color.Info"> A simple info alert—check it out! </Alert>
<Alert Color="Enums.Color.Light"> A simple light alert—check it out! </Alert>
<Alert Color="Enums.Color.Dark"> A simple dark alert—check it out! </Alert>