@using BlazorBootstrap.Components
@page "/buttons"

<h4>Buttons</h4>
<p>
    <Button Color="Enums.Color.Primary"> Primary </Button>
    <Button Color="Enums.Color.Secondary"> Secondary </Button>
    <Button Color="Enums.Color.Success"> Success </Button>
    <Button Color="Enums.Color.Danger"> Danger </Button>
    <Button Color="Enums.Color.Warning"> Warning </Button>
    <Button Color="Enums.Color.Info"> Info </Button>
    <Button Color="Enums.Color.Light"> Light </Button>
    <Button Color="Enums.Color.Dark"> Dark </Button>
    <Button Color="Enums.Color.Link"> Link </Button>
</p>

<h4>Button tags</h4>
<p>
    <Button Type="ButtonType.Link" Color="Enums.Color.Primary" To="#"> Link </Button>
    <Button Type="ButtonType.Submit" Color="Enums.Color.Primary" To="#"> Button </Button>
</p>

<h4>Outline buttons</h4>
<p>
    <Button Color="Enums.Color.Primary" Outline="true"> Primary </Button>
    <Button Color="Enums.Color.Secondary" Outline="true"> Secondary </Button>
    <Button Color="Enums.Color.Success" Outline="true"> Success </Button>
    <Button Color="Enums.Color.Danger" Outline="true"> Danger </Button>
    <Button Color="Enums.Color.Warning" Outline="true"> Warning </Button>
    <Button Color="Enums.Color.Info" Outline="true"> Info </Button>
    <Button Color="Enums.Color.Dark" Outline="true"> Dark </Button>
</p>

<h4>Sizes</h4>
<p>
    <Button Color="Enums.Color.Primary" Size="Enums.Size.Large"> Large button </Button>
    <Button Color="Enums.Color.Secondary" Size="Enums.Size.Large"> Large button </Button>
</p>
<p>
    <Button Color="Enums.Color.Primary" Size="Enums.Size.Small"> Small button </Button>
    <Button Color="Enums.Color.Secondary" Size="Enums.Size.Small"> Small button </Button>
</p>

<h4>Disabled state</h4>
<p>
    <Button Color="Enums.Color.Primary" Size="Enums.Size.Large" Disabled="true"> Large button </Button>
    <Button Color="Enums.Color.Secondary" Size="Enums.Size.Large" Disabled="true"> Large button </Button>
</p>
<p>
    <Button Type="ButtonType.Link" Color="Enums.Color.Primary" Size="Enums.Size.Large" Disabled="true"> Primary link </Button>
    <Button Type="ButtonType.Link" Color="Enums.Color.Secondary" Size="Enums.Size.Large" Disabled="true"> Link </Button>
</p>

<h4>Block buttons</h4>
<div class="d-grid gap-2">
    <Button Color="Enums.Color.Primary"> Button </Button>
    <Button Color="Enums.Color.Primary"> Button </Button>
</div>

<div class="d-grid gap-2 d-md-block mt-2">
    <Button Color="Enums.Color.Primary"> Button </Button>
    <Button Color="Enums.Color.Primary"> Button </Button>
</div>

<div class="d-grid gap-2 col-6 mx-auto mt-2">
    <Button Color="Enums.Color.Primary"> Button </Button>
    <Button Color="Enums.Color.Primary"> Button </Button>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
    <Button Color="Enums.Color.Primary"> Button </Button>
    <Button Color="Enums.Color.Primary"> Button </Button>
</div>

<h4>Toggle states</h4>
<p>
    <Button Color="Enums.Color.Primary"> Toggle button </Button>
    <Button Color="Enums.Color.Primary" Active="true"> Active toggle button </Button>
    <Button Color="Enums.Color.Primary" Disabled="true"> Disabled toggle button </Button>
</p>
<p>
    <Button Type="ButtonType.Link" Color="Enums.Color.Primary" To="#"> Toggle button </Button>
    <Button Type="ButtonType.Link" Color="Enums.Color.Primary" To="#" Active="true"> Active toggle button </Button>
    <Button Type="ButtonType.Link" Color="Enums.Color.Primary" To="#" Disabled="true"> Disabled toggle button </Button>
</p>

<h4>Loading</h4>
<p>
    <Button Color="Enums.Color.Primary" Loading="true" />
    <Button Color="Enums.Color.Primary" Loading="true" LoadingText="Saving..." />
    <Button Color="Enums.Color.Primary" Loading="true">
        <LoadingTemplate>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Loading...
        </LoadingTemplate>
    </Button>
</p>

<h4>Native Click</h4>
<p>
    <Button Color="Enums.Color.Primary" @onclick="OnClick"> Click Event </Button>
</p>
<p>
    <Button Color="Enums.Color.Primary" @ondblclick="OnDoubleClick"> Double Click Event </Button>
</p>
<p>
    <Button Color="Enums.Color.Primary" @onclick="((args) => OnClickWithArgs(args, message))"> Click + Args </Button>
</p>

@code{

    public string message = "Test message";

    protected void OnClick(EventArgs args)
    {
        Console.WriteLine("click event");
    }

    protected void OnDoubleClick(EventArgs args)
    {
        Console.WriteLine("double click event");
    }

    protected void OnClickWithArgs(EventArgs args, string message)
    {
        Console.WriteLine($"message: {message}");
    }

}