@using BlazorBootstrap
@using System.Threading.Tasks
@page "/confirmation-modal"

<h4 class="my-4">Confirmation Modal Examples</h4>

<Button Color="ButtonColor.Primary" @onclick="ShowConfirmationModal">Show confirmation</Button>

<ConfirmationModal @ref="modal"
                   Title="Are you sure you want to save this?"
                   Message1="This will save the details enterd in the form."
                   Message2="Do you want to proceed?"></ConfirmationModal>

@code {
    private ConfirmationModal modal;

    private void ShowConfirmationModal()
    {
        modal.Show();
    }
}
