@using BlazorBootstrap
@page "/"

<h4>Button with Tooltip</h4>
<p class="mt-4">
    <Button Color="ButtonColor.Primary" TooltipText="Tooltip text" TooltipPlacement="TooltipPlacement.Top"> Button with Tooltip </Button>
</p>