@using BlazorBootstrap
@page "/"

<h4>Button with Tooltip</h4>
<p>
    <Button Color="Color.Primary" TooltipText="Tooltip text" TooltipPlacement="TooltipPlacement.Top"> Button with Tooltip </Button>
</p>