@using BlazorBootstrap
@page "/offcanvas"

@inject OffcanvasService OffcanvasService

<h4 class="my-4">Offcanvas Examples</h4>
<Button Color="ButtonColor.Primary" @onclick="ShowOffcanvas1">Show Offcanvas - Right</Button>

<Offcanvas ElementId="@offcanvasElementId1"
           Showing="OnOffcanvasShowingAsync"
           Shown="OnOffcanvasShownAsync"
           Hiding="OnOffcanvasHidingAsync"
           Hidden="OnOffcanvasHiddenAsync">
</Offcanvas>

@code {
    private string offcanvasElementId1 = "offcanvasRight1";

    private void ShowOffcanvas1()
    {
        OffcanvasService.Show(offcanvasElementId1);
    }

    private async Task OnOffcanvasShowingAsync()
    {
        await Task.Run(() => { Console.WriteLine("Event: Showing");});
    }

    private async Task OnOffcanvasShownAsync()
    {
        await Task.Run(() => { Console.WriteLine("Event: Show");});
    }

    private async Task OnOffcanvasHidingAsync()
    {
        await Task.Run(() => { Console.WriteLine("Event: Hiding");});
    }

    private async Task OnOffcanvasHiddenAsync()
    {
        await Task.Run(() => { Console.WriteLine("Event: Hidden");});
    }
}
