<div class="mb-3">
    <CurrencyInput 
        TValue="int" 
        @bind-Value="@amount1"
        CurrencySign="CurrencySign.Accounting"
        Placeholder="Enter amount" />
</div>
<div class="mb-3">Entered Value: @amount1</div>

@code {
    private int amount1 = -21231;
}
