<div class="mb-3">
    <CurrencyInput 
        TValue="double" 
        @bind-Value="@amount1" 
        MinimumIntegerDigits="3" 
        MinimumFractionDigits="4" 
        Placeholder="Enter amount" />
</div>
<div class="mb-3">Entered Value: @amount1</div>

@code {
    private double amount1 = 4.33;
}
