@using System.Threading.Tasks
@page "/pagination"

<PageTitle>Pagination - BlazorBootstrap</PageTitle>

<h1 class="my-4">Pagination</h1>
<div class="mb-3">
    Documentation and examples for showing pagination to indicate a series of related content exists across multiple pages.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<Demo Type="typeof(Pagination_Demo_01_Examples)" />

@code {
    private string pageUrl = "/pagination";
}
