<Button Type="ButtonType.Link" Color="ButtonColor.Primary" Size="ButtonSize.Large" Disabled="true"> Primary link </Button>
<Button Type="ButtonType.Link" Color="ButtonColor.Secondary" Size="ButtonSize.Large" Disabled="true"> Link </Button>