<Button Color="ButtonColor.Primary" @ondblclick="OnDoubleClick"> Double click here </Button>

@code {
    protected void OnDoubleClick(EventArgs args)
    {
        Console.WriteLine("double click event");
    }
}
