@namespace BlazorBootstrap
@inherits LayoutComponentBase

@if (isShown)
{
    <div class="offcanvas @offcanvasPlacement" tabindex="-1" id="@ElementId" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Offcanvas right</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            ...
        </div>
    </div>
}