<Dropdown @ref="dropdown1" Color="DropdownColor.Secondary">
    <DropdownToggleButton>Dropdown button</DropdownToggleButton>
    <DropdownMenu>
        <DropdownItem To="#" Type="DropdownItemType.Link">Action</DropdownItem>
        <DropdownItem To="#" Type="DropdownItemType.Link">Another action</DropdownItem>
        <DropdownItem To="#" Type="DropdownItemType.Link">Something else here</DropdownItem>
    </DropdownMenu>
</Dropdown>

<Button Color="ButtonColor.Primary" @onclick="(async() => await ShowAsync())">Show</Button>
<Button Color="ButtonColor.Primary" @onclick="(async() => await HideAsync())">Hide</Button>
<Button Color="ButtonColor.Primary" @onclick="(async() => await ToggleAsync())">Toggle</Button>

@code{
    private Dropdown dropdown1 = default!;

    private ValueTask ShowAsync() => dropdown1.ShowAsync();
    private ValueTask HideAsync() => dropdown1.HideAsync();
    private ValueTask ToggleAsync() => dropdown1.ToggleAsync();
}
