<div class="d-flex gap-2">
    <Dropdown Direction="DropdownDirection.DropupCentered">
        <DropdownToggleButton Color="ButtonColor.Secondary">Centered dropup</DropdownToggleButton>
        <DropdownMenu>
            <DropdownItem To="#" Type="ButtonType.Link">Action</DropdownItem>
            <DropdownItem To="#" Type="ButtonType.Link">Another action</DropdownItem>
            <DropdownItem To="#" Type="ButtonType.Link">Something else here</DropdownItem>
        </DropdownMenu>
    </Dropdown>
</div>
