<div class="mb-3">
    <label class="form-label">Amount</label>
    <NumberInput @ref="numberInput"
                 TValue="int?"
                 @bind-Value="@amount"
                 Placeholder="Enter amount" />
</div>

<Button Color="ButtonColor.Secondary" @onclick="Disable"> Disable </Button>
<Button Color="ButtonColor.Primary" @onclick="Enable"> Enable </Button>

@code {
    private NumberInput<int?> numberInput = default!;
    private int? amount;

    private void Disable() => numberInput.Disable();

    private void Enable() => numberInput.Enable();
}
