<div class="vstack gap-3">
    <FileInput BackgroundColor="BackgroundColor.Light" Size="FileInputSize.Large" HintText="Large light file input." />
    <FileInput BackgroundColor="BackgroundColor.Info" Size="FileInputSize.Small" HintText="Small info file input." />
</div>
