@using BlazorBootstrap
@page "/modals"

<PageTitle>Modal Demo - BlazorBootstrap</PageTitle>

<h1 class="my-4">Modal</h1>
<div class="mb-3">
    Use BlazorBootstrap's modal component to add dialogs to your site for lightboxes, user notifications, or completely custom content.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<Demo Type="typeof(Modal_Demo_01_Examples)" />

@code {
    private string pageUrl = "/modals";
}
