<div class="d-flex flex-row flex-grow-1 scroll-hidden">
    <div class="navigation-container d-flex flex-column flex-shrink-0">
        <Sidebar />
    </div>
    <div class="d-flex flex-column flex-grow-1 scroll-hidden" style="background-color: rgba(0,0,0,0.04);">
        <div class="px-2">Content goes here...</div>
    </div>
</div>

@code {

}
