@namespace BlazorBootstrap
@inherits BaseComponent

<li class="nav-item">
    <NavLink class="nav-link link-dark" href="@Href">
        <Icon Name="@PrefixIconName" Class="me-2" /> @Text
    </NavLink>
</li>