<div class="row mb-3">
    <label class="col-md-2 col-form-label">Item Price: <span class="text-danger">*</span></label>
    <div class="col-md-10">
        <NumberInput TValue="decimal?" Value="price" ValueExpression="() => price" ValueChanged="(value) => PriceChanged(value)" Placeholder="Enter price" />
    </div>
</div>
<div>
    @displayPrice
</div>
@code {
    private decimal? price = 10M;
    private string? displayPrice;

    private void PriceChanged(decimal? value)
    {
        price = value; // this is mandatory
        displayPrice = $"Price: {value}, changed at {DateTime.Now.ToLocalTime()}.";
    }
}
