@using BlazorBootstrap
@page "/toasts"

<PageTitle>Toasts Demo - BlazorBootstrap</PageTitle>

<h1 class="my-4">Modal</h1>
<div class="mb-3">
    Push notifications to your visitors with a toast, a lightweight and easily customizable alert message.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<Demo Type="typeof(Toasts_Demo_01_Examples)" />

<SectionHeading Size="HeadingSize.H2" Text="Simple Toast" PageUrl="@pageUrl" HashTagName="simple-toast" />
<Demo Type="typeof(Toasts_Demo_02_Simple_Toast)" />

@code {
    private string pageUrl = "/toasts";    
}
