<Toasts class="p-3" Messages="messages" />

<Button Class="btn btn-primary" @onclick="ShowToast">Toast with Content</Button>

@code {
    List<ToastMessage> messages = [];

    private void ShowToast() =>
        messages.Add(
            new ToastMessage
            {
                Type = ToastType.Info,
                Title = "Blazor Bootstrap",
                Content = @<div>Hello, world! This is a toast message. <button class="btn btn-sm btn-primary mt-2" @onclick="ShowToast">Show more toast</button></div>,
            });
}
