<div class="mb-3">
    <label class="form-label">Amount</label>
    <NumberInput TValue="int" @bind-Value="@amount" Placeholder="Enter amount" />
</div>
<div class="mb-3">Entered Amount: @amount</div>

@code {
    private int amount;
}
