<div class="mb-3">
    <TextInput Value="@employeeName" ValueExpression="() => employeeName" ValueChanged="(value) => EmployeeNameChanged(value)" />
</div>
<div class="mb-3">Entered employee name: @employeeName</div>

@code {
    private string? employeeName = null;

    private void EmployeeNameChanged(string? value)
    {
        employeeName = value;

        // do something
    }
}
