@namespace BlazorBootstrap.Demo.RCL
@inherits ComponentBase

<div class="d-block px-3 py-2 text-center text-bold skippy">
    <a href="@Url" class="text-white text-decoration-none">
        <i class="bi bi-star-fill"></i>
        <span>If you like Blazor Bootstrap, give it a star on GitHub!</span>
        <i class="bi bi-star-fill"></i>
    </a>
</div>
