@using BlazorBootstrap

@page "/autocomplete"

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">AutoComplete Demo 1</h5>
                <AutoComplete Placeholder="Search a customer..."></AutoComplete>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">AutoComplete Demo 2</h5>
                <AutoComplete></AutoComplete>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">AutoComplete Demo 3</h5>
                <AutoComplete></AutoComplete>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">AutoComplete Demo 4</h5>
                <AutoComplete></AutoComplete>
            </div>
        </div>
    </div>
</div>

@code {

}
