<p>@eventLog</p>

<PdfViewer Class="mb-3"
           Url="@($"{StringConstants.DocsBasePath}/pdf_password_protected.pdf")"
           Password="12345"
           OnDocumentLoaded="OnDocumentLoaded"
           OnPageChanged="OnPageChanged" />

@code {
    private string documentUrl = $"{StringConstants.DocsBasePath}/pdf_password_protected.pdf";
    private string eventLog { get; set; } = $"Last event: ..., CurrentPage: 0, TotalPages: 0";

    private void OnDocumentLoaded(PdfViewerEventArgs args)
        => eventLog = $"Last event: OnDocumentLoaded, CurrentPage: {args.CurrentPage}, TotalPages: {args.TotalPages}";

    private void OnPageChanged(PdfViewerEventArgs args)
        => eventLog = $"Last event: OnPageChanged, CurrentPage: {args.CurrentPage}, TotalPages: {args.TotalPages}";
}
