<p>Would you like to receive notifications?</p>
<RadioInput @ref="radioInputRef" Name="EnableNotifications" Label="Yes" @bind-Value="isChecked" />
<RadioInput @ref="radioInputRef2" Name="EnableNotifications" Label="No" @bind-Value="isChecked2" />

<div class="mt-3">
    <Button Color="ButtonColor.Primary" Size="ButtonSize.ExtraSmall" @onclick="Enable"> Enable </Button>
    <Button Color="ButtonColor.Secondary" Size="ButtonSize.ExtraSmall" @onclick="Disable"> Disable </Button>
</div>

@code
{
    private RadioInput? radioInputRef;
    private RadioInput? radioInputRef2;

    private bool isChecked;
    private bool isChecked2 = true;

    private void Disable()
    {
        radioInputRef.Disable();
        radioInputRef2.Disable();
    }

    private void Enable()
    {
        radioInputRef.Enable();
        radioInputRef2.Enable();
    }
}
