@namespace BlazorBootstrap.Demo.RCL
@inherits BlazorBootstrapComponentBase
@typeparam TItem

<tr>
    <td>@MethodNameWithParameters</td>
    <td class="text-danger">@ReturnTypeShortName</td>
    <td>@((MarkupString)Description)</td>
    <td>@AddedVersion</td>
</tr>