@namespace BlazorBootstrap.Demo.RCL
@inherits BlazorBootstrapComponentBase
@typeparam TItem

<tr>
    <td>@PropertyInfo.Name</td>
    <td class="text-danger">@ReturnType</td>
    <td>@((MarkupString)Description)</td>
    <td>@AddedVersion</td>
</tr>