@namespace BlazorBootstrap.Demo.RCL

<Callout Color="CalloutColor.Warning" HideHeading="true">
    <h4>Using charts only</h4>
    <p>If you only need chart components (without the rest of the Blazor Bootstrap UI), install the <b>BlazorExpress.ChartJS</b> package from NuGet.</p>
    <pre class="mb-2">> dotnet add package BlazorExpress.ChartJS</pre>
    <p>For setup and usage details, see the <a href="https://chartjs.blazorexpress.com/docs/getting-started/introduction" target="_blank" rel="noopener">BlazorExpress.ChartJS getting started guide</a>.</p>
</Callout>