@inherits LayoutComponentBase

<div class="bb-page">

    <Sidebar @ref="sidebar"
             IconName="IconName.BootstrapFill"
             Title="Blazor Bootstrap"
             Items="GetNavItems()" />

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-end">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>

</div>

@code {
    private Sidebar sidebar = default!;


    private IEnumerable<NavItem> GetNavItems()
    {
        yield return new NavItem { Href = "/", IconName = IconName.HouseDoorFill, Text = "Home", Match=NavLinkMatch.All };
        yield return new NavItem { Href = "/counter", IconName = IconName.PlusSquareFill, Text = "Counter" };
        yield return new NavItem { Href = "/fetchdata", IconName = IconName.Table, Text = "Fetch Data" };
    }
}