<ConfirmDialog @ref="dialog"
               Title="Are you sure you want to save this?"
               Message1="This will save the details enterd in the form."
               Message2="Do you want to proceed?"
               OnYes="OnYesAsync"
               OnNo="OnNoAsync"></ConfirmDialog>

<Button Color="ButtonColor.Primary" @onclick="OnShowConfirmationModalClick">Show confirmation</Button>

<Toasts class="p-3" Messages="messages" Placement="ToastsPlacement.TopRight" />

@code {
    private ConfirmDialog dialog;

    List<ToastMessage> messages = new List<ToastMessage>();

    private void OnShowConfirmationModalClick()
    {
        dialog.Show();
    }

    private async Task OnYesAsync()
    {
        messages?.Add(new ToastMessage
            {
                Type = ToastType.Success,
                Message = $"Details saved successfully. DateTime: {DateTime.Now}",
            });
    }

    private async Task OnNoAsync()
    {
        messages?.Add(new ToastMessage
            {
                Type = ToastType.Secondary,
                Message = $"Action canceled. DateTime: {DateTime.Now}",
            });
    }
}