<ConfirmDialog @ref="dialog" />

<Button Color="ButtonColor.Primary" @onclick="ShowDialogAsync"> Launch Confirm Dialog </Button>

@code {
    private ConfirmDialog dialog = default!;

    private async Task ShowDialogAsync()
    {
        var options = new ConfirmDialogOptions { IsScrollable = true };
        var confirmation = await dialog.ShowAsync<LongContentDemoComponent>(
            title: "Confirm dialog title",
            confirmDialogOptions: options);

        if (confirmation)
        {
            // do something
        }
        else
        {
            // do something
        }
    }
}