<ConfirmDialog @ref="dialog" OnYes="OnYes" OnNo="OnNo" />

<Button Color="ButtonColor.Primary" @onclick="ShowSaveConfirmationAsync"> Save Employee </Button>
<Button Color="ButtonColor.Danger" @onclick="ShowDeleteConfirmationAsync"> Delete Employee </Button>

@code {
    private ConfirmDialog dialog;

    [Inject] ToastService ToastService { get; set; }

    private async Task ShowSaveConfirmationAsync()
    {
        var result = await dialog.Show(
            title: "Are you sure you want to save this?",
            message1: "This will save the details enterd in the form.",
            message2: "Do you want to proceed?");

        if (result)
            OnYes("SAVE");
        else
            OnNo("SAVE");
    }

    private async Task ShowDeleteConfirmationAsync()
    {
        var result = await dialog.Show(
            title: "Are you sure you want to delete this?",
            message1: "This will delete the record. Once deleted can not be rolled back.",
            message2: "Do you want to proceed?");

        if (result)
            OnYes("DELETE");
        else
            OnNo("DELETE");
    }

    private void OnYes(string action)
    {
        // call API

        // show acknowledgment to the user.
        ToastService.Notify(new ToastMessage (ToastType.Success, $"{action}: User confirmed to proceed with the action."));
    }

    private void OnNo(string action)
    {
        ToastService.Notify(new ToastMessage(ToastType.Secondary, $"{action}: User canceled the action."));
    }
}