<ConfirmDialog @ref="dialog" />

<Button Color="ButtonColor.Primary" @onclick="ShowDialog"> Launch Confirm Dialog </Button>

@code {
    private ConfirmDialog dialog;

    private async Task ShowDialog()
    {
        var confirmation = await dialog.ShowAsync<LongContentDemoComponent>(title: "Confirm dialog title");

        if (confirmation)
        {
            // do whatever
        }
        else
        {
            // do whatever
        }
    }
}