<div class="row g-3">
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via CSS variables." Color="TooltipColor.None">Default Tooltip</Tooltip>
    </div>
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via CSS variables." Color="TooltipColor.Primary">Primary Tooltip</Tooltip>
    </div>
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via CSS variables." Color="TooltipColor.Secondary">Secondary Tooltip</Tooltip>
    </div>
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via CSS variables." Color="TooltipColor.Success">Success Tooltip</Tooltip>
    </div>
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via CSS variables." Color="TooltipColor.Danger">Danger Tooltip</Tooltip>
    </div>
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via CSS variables." Color="TooltipColor.Warning">Warning Tooltip</Tooltip>
    </div>
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via CSS variables." Color="TooltipColor.Info">Info Tooltip</Tooltip>
    </div>
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via CSS variables." Color="TooltipColor.Light">Light Tooltip</Tooltip>
    </div>
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via CSS variables." Color="TooltipColor.Dark">Dark Tooltip</Tooltip>
    </div>
</div>
