<Tooltip Class="me-4" Title="Tooltip Left" Placement="TooltipPlacement.Left">Tooltip Left</Tooltip>
<Tooltip Class="me-4" Title="Tooltip Top">Tooltip Top</Tooltip>
<Tooltip Class="me-4" Title="Tooltip Right" Placement="TooltipPlacement.Right">Tooltip Right</Tooltip>
<Tooltip Class="me-4" Title="Tooltip Bottom" Placement="TooltipPlacement.Bottom">Tooltip Bottom</Tooltip>

@if (SelectedAnimal is null)
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <Virtualize Items="Animals" Context="animal">
            <tr>
                <td>@animal.Name</td>
                <td>
                    <Button Color="ButtonColor.Primary" @onclick="() => SelectedAnimal = animal" TooltipTitle="Edit animal">
                        Edit
                    </Button>
                    <Tooltip Title="Edit animal">
                        <button type="btn btn-primary" class="btn btn-secondary" @onclick="() => SelectedAnimal = animal">
                            Edit
                        </button>
                    </Tooltip>

                    <Tooltip Title="Test with redirection">
                        <a href="/" class="btn btn-dark">Edit</a>
                    </Tooltip>
                </td>
            </tr>
        </Virtualize>
        </tbody>
    </table>
}
else
{
    <input type="text" @bind="SelectedAnimal.Name" class="form-control" />
    <Button Color="ButtonColor.Danger" @onclick="() => SelectedAnimal = null">Cancel</Button>
}
@code {

    public Animal? SelectedAnimal { get; set; }
    public List<Animal> Animals { get; set; } = new()
                                                {
                                                    new Animal
                                                    {
                                                        Name = "Dog"
                                                    },
                                                    new Animal
                                                    {
                                                        Name = "Cat"
                                                    },
                                                    new Animal
                                                    {
                                                        Name = "Horse"
                                                    }
                                                };

}