<Tooltip Class="me-2" Title="Navigate to modals" Placement="TooltipPlacement.Bottom">
    <a href="/modals">
        <Icon Name="IconName.WindowStack" Size="IconSize.x2" />
    </a>
</Tooltip>

<Tooltip Title="Navigate to offcanvas" Placement="TooltipPlacement.Bottom">
    <a href="/offcanvas">
        <Icon Name="IconName.LayoutSidebarReverse" Size="IconSize.x2" />
    </a>
</Tooltip>