@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase
<div>
    <Button Color="ButtonColor.Success" @onclick="PreviousPageAsync">Previous</Button>
    <Button Color="ButtonColor.Success" @onclick="NextPageAsync">Next</Button>
</div>
<div>
    <span>Page: @model?.PageNumber / @model?.PageCount</span>
</div>

<canvas @ref="@ElementRef"
        @attributes="@Attributes"
        class="@ClassNames"
        id="@ElementId">
</canvas>