@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase
<div>
    <button id="prev">Previous</button>
    <button id="next">Next</button>
    &nbsp; &nbsp;
    <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
</div>

<canvas @ref="@ElementRef"
        @attributes="@Attributes"
        class="@ClassNames"
        id="@ElementId">
</canvas>