<div class="mb-3">
    <CurrencyInput TValue="int" @bind-Value="@amount1" Placeholder="Enter amount" />
</div>
<div class="mb-3">Entered Amount: @amount1</div>

@code {
    private int amount1 = 12345678;
}
