<div class="mb-3">
    <label class="form-label">Amount</label>
    <CurrencyInput @ref="currencyInput"
                   TValue="int?"
                   @bind-Value="@amount"
                   Placeholder="Enter amount" />
</div>

<Button Color="ButtonColor.Secondary" @onclick="Disable"> Disable </Button>
<Button Color="ButtonColor.Primary" @onclick="Enable"> Enable </Button>

@code {
    private CurrencyInput<int?> currencyInput = default!;
    private int? amount;

    private void Disable() => currencyInput.Disable();

    private void Enable() => currencyInput.Enable();
}
