<Offcanvas @ref="offcanvas"
           title="Offcanvas title"
           OnShowing="OnOffcanvasShowingAsync"
           OnShown="OnOffcanvasShownAsync"
           OnHiding="OnOffcanvasHidingAsync"
           OnHidden="OnOffcanvasHiddenAsync">

    <BodyTemplate>
        <div>Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.</div>
    </BodyTemplate>

    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="(async() => await OnHideOffcanvasClick())">Hide Offcanvas</Button>
    </FooterTemplate>

</Offcanvas>

<Button Color="ButtonColor.Primary" @onclick="OnShowOffcanvasClick">Show offcanvas</Button>

@code {
    private Offcanvas offcanvas = default!;
    private Task OnShowOffcanvasClick() => offcanvas.ShowAsync();
    private ValueTask OnHideOffcanvasClick() => offcanvas.HideAsync();
    private Task OnOffcanvasShowingAsync() => Task.Run(() => { Console.WriteLine("Event: Showing"); });
    private Task OnOffcanvasShownAsync() => Task.Run(() => { Console.WriteLine("Event: Shown"); });
    private Task OnOffcanvasHidingAsync() => Task.Run(() => { Console.WriteLine("Event: Hiding"); });
    private Task OnOffcanvasHiddenAsync() => Task.Run(() => { Console.WriteLine("Event: Hidden"); });
}