<Alert @ref="warningAlert" Color="AlertColor.Warning">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below. <Button Color="ButtonColor.Primary" @onclick="(async () => await warningAlert.CloseAsync())">Close</Button>
</Alert>

@code {
    Alert warningAlert = default!;
}
