<Alert Color="AlertColor.Primary">
    A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</Alert>

<Alert Color="AlertColor.Secondary">
    A simple secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</Alert>

<Alert Color="AlertColor.Success">
    A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</Alert>

<Alert Color="AlertColor.Danger">
    A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</Alert>

<Alert Color="AlertColor.Warning">
    A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</Alert>

<Alert Color="AlertColor.Info">
    A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</Alert>

<Alert Color="AlertColor.Light">
    A simple light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</Alert>

<Alert Color="AlertColor.Dark">
    A simple dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</Alert>
