@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div>
    <nav>
        <div id="AR1C4BUKJHQJ3" class="nav nav-underline border-bottom" role="tablist">
            <button class="nav-link active" id="AR1C4BUKJHQK9" data-bs-toggle="tab" data-bs-target="#nav-AR1C4BUKJHQK9" type="button" role="tab" aria-selected="true">Home</button>
            <button class="nav-link " id="AR1C4BUKJHQLA" data-bs-toggle="tab" data-bs-target="#nav-AR1C4BUKJHQLA" type="button" role="tab" aria-selected="false" tabindex="-1">Send / Receive</button>
            <button class="nav-link " id="AR1C4BUKJHQLB" data-bs-toggle="tab" data-bs-target="#nav-AR1C4BUKJHQLB" type="button" role="tab" aria-selected="false" tabindex="-1">Folder</button>
        </div>
    </nav>
    <div class="tab-content">
        <div class="tab-pane fade active show" id="nav-AR1C4BUKJHQK9" role="tabpanel" aria-labelledby="AR1C4BUKJHQK9">
            <RibbonGroup>
                <!-- New -->
                <RibbonItemGroup Text="New">
                    <RibbonItem IconName="IconName.EnvelopePlus" IconSize="IconSize.x3" Text="New Email" IsFirstItem="true" />
                    @* <RibbonItem ImgSrc="/_content/BlazorBootstrap.Demo.RCL/envelope-plus.png" Text="New Email" IsFirstItem="true" /> *@
                    <RibbonItem IconName="IconName.Calendar3Event" IconSize="IconSize.x3" Text="Appointment" IsLastItem="true" />
                </RibbonItemGroup>
                <!-- Delete -->
                <RibbonItemGroup Text="Delete">
                    <RibbonItem IconColor="IconColor.Danger" IconName="IconName.Trash" IconSize="IconSize.x3" Text="Delete" IsFirstItem="true" />
                    <RibbonItem IconColor="IconColor.Primary" IconName="IconName.Archive" IconSize="IconSize.x3" Text="Archive" IsLastItem="true" />
                </RibbonItemGroup>
            </RibbonGroup>
        </div>

        <div class="tab-pane fade" id="nav-AR1C4BUKJHQLA" role="tabpanel" aria-labelledby="AR1C4BUKJHQLA">
            <RibbonGroup>
                <!-- Send & Receive -->
                <RibbonItemGroup Text="Send & Receive">
                    <RibbonItem IconColor="IconColor.Success" IconName="IconName.EnvelopePlus" IconSize="IconSize.x3" Text="Send/Receive All Folders" IsFirstItem="true" />
                    <RibbonItem IconColor="IconColor.Primary" IconName="IconName.Calendar3Event" IconSize="IconSize.x3" Text="Update Folder" IsLastItem="true" />
                </RibbonItemGroup>
                <!-- Download -->
                <RibbonItemGroup Text="Download">
                    <RibbonItem IconColor="IconColor.Success" IconName="IconName.Trash" IconSize="IconSize.x3" Text="Show Progress" IsFirstItem="true" />
                    <RibbonItem IconColor="IconColor.Primary" IconName="IconName.XSquareFill" IconSize="IconSize.x3" Text="Cancel All" IsLastItem="true" />
                </RibbonItemGroup>
            </RibbonGroup>
        </div>

        <div class="tab-pane fade" id="nav-AR1C4BUKJHQLB" role="tabpanel" aria-labelledby="AR1C4BUKJHQLB">
            <RibbonGroup>
                <!-- New -->
                <RibbonItemGroup Text="New">
                    <RibbonItem IconColor="IconColor.Success" IconName="IconName.FolderPlus" IconSize="IconSize.x3" Text="New Folder" IsFirstItem="true" />
                    <RibbonItem IconColor="IconColor.Primary" IconName="IconName.Search" IconSize="IconSize.x3" Text="New Search Folder" IsLastItem="true" />
                </RibbonItemGroup>
                <!-- Actions -->
                <RibbonItemGroup Text="Actions">
                    <RibbonItem IconColor="IconColor.Success" IconName="IconName.CursorText" IconSize="IconSize.x3" Text="Rename Folder" IsFirstItem="true" />
                    <RibbonItem IconColor="IconColor.Primary" IconName="IconName.Copy" IconSize="IconSize.x3" Text="Copy Folder" />
                    <RibbonItem IconColor="IconColor.Primary" IconName="IconName.ArrowRight" IconSize="IconSize.x3" Text="Move Folder" />
                    <RibbonItem IconColor="IconColor.Primary" IconName="IconName.FolderX" IconSize="IconSize.x3" Text="Delete Folder" IsLastItem="true" />
                </RibbonItemGroup>
            </RibbonGroup>
        </div>
    </div>
</div>
