<div class="mb-3">
    <label class="form-label">Amount</label>
    <CurrencyInput TValue="double" @bind-Value="@amount" Locale="en-IN" ShowCurrencySymbol="true" Placeholder="Enter amount" />
</div>
<div class="mb-3">Entered Amount: @amount</div>

@code {
    private double amount;
}
