<div class="row">
    <div class="col">
        <SortableList TItem="Employee" Group="SharedListExample2" Data="items1" Context="item">
            <ItemTemplate>
                @item.Name
            </ItemTemplate>
        </SortableList>
    </div>
    <div class="col">
        <SortableList TItem="Employee" Group="SharedListExample2" Data="items2" Context="item">
            <ItemTemplate>
                @item.Name
            </ItemTemplate>
        </SortableList>
    </div>
</div>

@code {
    public List<Employee> items1 = Enumerable.Range(1, 5).Select(i => new Employee { Id = i, Name = $"Item {i}" }).ToList();

    public List<Employee> items2 = Enumerable.Range(6, 5).Select(i => new Employee { Id = i, Name = $"Item {i}" }).ToList();

    public class Employee
    {
        public int Id { get; set; }
        public string? Name { get; set; }
    }
}
