<div class="row">
    <div class="col">
        <SortableList TItem="Employee"
                      Data="items3"
                      Context="item"
                      Group="SharedListExample3"
                      Pull="SortableListPullMode.Clone">
            <ItemTemplate>
                @item.Name
            </ItemTemplate>
        </SortableList>
    </div>
    <div class="col">
        <SortableList TItem="Employee"
                      Data="items4"
                      Context="item"
                      Group="SharedListExample3"
                      Pull="SortableListPullMode.Clone">
            <ItemTemplate>
                @item.Name
            </ItemTemplate>
        </SortableList>
    </div>
</div>

@code {
    public List<Employee> items3 = Enumerable.Range(11, 5).Select(i => new Employee { Id = i, Name = $"Item {i}" }).ToList();

    public List<Employee> items4 = Enumerable.Range(16, 5).Select(i => new Employee { Id = i, Name = $"Item {i}" }).ToList();

    public class Employee
    {
        public int Id { get; set; }
        public string? Name { get; set; }
    }
}
