<Tabs @ref="tabs">
    <Tab Title="Home">
        <Content>
            <p class="mt-3">This is the placeholder content for the <b>Home</b> tab.</p>
        </Content>
    </Tab>
    <Tab Title="Profile">
        <Content>
            <p class="mt-3">This is the placeholder content for the <b>Profile</b> tab.</p>
        </Content>
    </Tab>
    <Tab Title="Contact">
        <Content>
            <p class="mt-3">This is the placeholder content for the <b>Contact</b> tab.</p>
        </Content>
    </Tab>
    <Tab Title="About">
        <Content>
            <p class="mt-3">This is the placeholder content for the <b>About</b> tab.</p>
        </Content>
    </Tab>
</Tabs>

@code {
    Tabs tabs = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            string userDefaultPreferredTab = "Profile"; // Get the value from Service / API

            switch (userDefaultPreferredTab)
            {
                case "Home":
                    await tabs.ShowTabByIndexAsync(0);
                    break;
                case "Profile":
                    await tabs.ShowTabByIndexAsync(1);                    
                    break;
                case "Contact":
                    await tabs.ShowTabByIndexAsync(2);
                    break;
                case "About":
                    await tabs.ShowTabByIndexAsync(3);
                    break;
                default:
                    await tabs.ShowTabByIndexAsync(0);
                    break;
            }
        }
    }
}