<Button Color="ButtonColor.Primary" Size="ButtonSize.ExtraLarge"> Extra large button </Button>
<Button Color="ButtonColor.Secondary" Size="ButtonSize.Large"> Large button </Button>
<Button Color="ButtonColor.Success" Size="ButtonSize.Medium"> Medium button </Button>
<Button Color="ButtonColor.Danger" Size="ButtonSize.Small"> Small button </Button>
<Button Color="ButtonColor.Warning" Size="ButtonSize.ExtraSmall"> Extra small button </Button>