<Button Color="ButtonColor.Primary" Size="ButtonSize.Large" Disabled="true"> Large button </Button>
<Button Color="ButtonColor.Secondary" Size="ButtonSize.Large" Disabled="true"> Large button </Button>