<Button Color="ButtonColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="TooltipColor.None"> Default Tooltip </Button>
<Button Color="ButtonColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="TooltipColor.Primary"> Primary Tooltip  </Button>
<Button Color="ButtonColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="TooltipColor.Secondary"> Secondary Tooltip </Button>
<Button Color="ButtonColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="TooltipColor.Success"> Success Tooltip </Button>
<Button Color="ButtonColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="TooltipColor.Danger"> Danger Tooltip </Button>
<Button Color="ButtonColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="TooltipColor.Warning">Warning Tooltip </Button>
<Button Color="ButtonColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="TooltipColor.Info"> Info Tooltip </Button>
<Button Color="ButtonColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="TooltipColor.Light"> Light Tooltip </Button>
<Button Color="ButtonColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="TooltipColor.Dark"> Dark Tooltip </Button>
