@using BlazorBootstrap
@page "/tabs"

<PageTitle>Tabs Demo - BlazorBootstrap</PageTitle>

<h1 class="my-4">Tabs</h1>
<Tabs>
    <Tab Title="Tab 1">
        <Content>Tab 1 - Sample Information</Content>
    </Tab>
    <Tab Title="Tab 2">
        <Content>Tab 2 - Sample Information</Content>
    </Tab>
</Tabs>