@using BlazorBootstrap
@page "/tabs"

<PageTitle>Tabs Demo - BlazorBootstrap</PageTitle>

<h1 class="my-4">Tabs</h1>
<div class="mb-3">
    Push notifications to your visitors with a toast, a lightweight and easily customizable alert message.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<Demo Type="typeof(Tabs_Demo_01_Examples)" />

<SectionHeading Size="HeadingSize.H2" Text="Fade effect" PageUrl="@pageUrl" HashTagName="fade-effect" />
<Demo Type="typeof(Tabs_Demo_02_Enable_FadeEffect)" />

<SectionHeading Size="HeadingSize.H2" Text="Title Template" PageUrl="@pageUrl" HashTagName="title-template" />
<Demo Type="typeof(Tabs_Demo_03_Title_Template)" />

@code {
    private string pageUrl = "/tabs";    
}