<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor Bootstrap</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="alerts">
                <span class="oi oi-plus" aria-hidden="true"></span> Alerts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="breadcrumb">
                <span class="oi oi-plus" aria-hidden="true"></span> Breadcrumb
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="buttons">
                <span class="oi oi-home" aria-hidden="true"></span> Buttons
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="confirmation-modal">
                <span class="oi oi-home" aria-hidden="true"></span> Confirmation Modal
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="icons">
                <span class="oi oi-plus" aria-hidden="true"></span> Icons
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="modals">
                <span class="oi oi-plus" aria-hidden="true"></span> Modals
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="offcanvas">
                <span class="oi oi-plus" aria-hidden="true"></span> Offcanvas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="page-loading">
                <span class="oi oi-plus" aria-hidden="true"></span> Page Loading
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="toasts">
                <span class="oi oi-plus" aria-hidden="true"></span> Toasts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tooltips">
                <span class="oi oi-plus" aria-hidden="true"></span> Tooltips
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
