@if (showPdfViewer)
{
    <PdfViewer Class="mb-3" Url="@($"{DemoStringConstants.StaticAssets_Docs_Path}/pdf_password_protected.pdf")" PromptForPassword="true" />
}
else
{
    <Button Class="btn btn-secondary mb-3" @onclick="() => showPdfViewer = true">Load Password Protected PDF (Prompt for Password)</Button>
}

@code {
    private bool showPdfViewer = false;
}