<div class="mb-3">
    <PasswordInput @bind-Value="@password" Placeholder="Enter Date" />
</div>
<div class="mb-3">Entered date: @password</div>

@code {
    private string password = "secretpassword"; 
}
