<div class="mb-3">
    <PasswordInput @ref="passwordInputRef" @bind-Value="@enteredPassword" />
</div>
<div class="mb-3">Entered text: @enteredPassword</div>

<Button Color="ButtonColor.Secondary" @onclick="Disable"> Disable </Button>
<Button Color="ButtonColor.Primary" @onclick="Enable"> Enable </Button>

@code {
    private PasswordInput? passwordInputRef;

    private string? enteredPassword = null;

    private void Disable() => passwordInputRef.Disable();

    private void Enable() => passwordInputRef.Enable();
}
