<div class="mb-3">
    <DateInput @ref="dateInput"
               TValue="DateOnly"
               @bind-Value="@date1"
               Placeholder="Enter Date" />
</div>
<div class="mb-3">Entered date: @date1</div>

<Button Color="ButtonColor.Secondary" @onclick="Disable"> Disable </Button>
<Button Color="ButtonColor.Primary" @onclick="Enable"> Enable </Button>

@code {
    private DateInput<DateOnly> dateInput = default!;

    private DateOnly date1 = DateOnly.FromDateTime(DateTime.Now);

    private void Disable() => dateInput.Disable();

    private void Enable() => dateInput.Enable();
}
