<Button Color="ButtonColor.Primary" @onclick="() => ShowModal(ModalSize.Regular)">Show Modal</Button>

<div class="mt-3">
    @callbackActionMessage
</div>

@code {

    [Inject] ModalService ModalService { get; set; } = default!;

    private string callbackActionMessage = "";

    private async Task ShowModal(ModalSize modalSize)
    {
        var modalOption = new ModalOption
                          {
                              Title = "Modal title",
                              Message = "Modal body text goes here.",
                              Size = modalSize
                          };

        await ModalService.ShowAsync(modalOption, OnModalClose);
    }

    private void OnModalClose()
    {
        // TODO: Do operations required after modal close.
        callbackActionMessage = $"Modal closed at {DateTime.Now}";

        StateHasChanged();
    }
}